In [1]:
import string
import re
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer

from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [2]:
# text 1 : Introduction to Machine Leaning by Nils J. Nilsson
text1 = open('introduction_to_machine_leaning_Nils_J_Nilsson.txt', encoding="utf-8").read()
lower_text1 = text1.lower()
cleaned_text1 = lower_text1.translate(str.maketrans("", "", string.punctuation))
tokenize_text1 = word_tokenize(cleaned_text1, "english")

strings1 = []
for word in tokenize_text1:
    word = "".join(re.split("[^a-zA-Z]", word))
    strings1.append(word)
print("Total Number of Words ::", len(strings1))

final_words1 = [" ".join(str(word) for word in strings1)]

Total Number of Words :: 53766

In [3]:
stop_words = stopwords.words("english")
vect1 = CountVectorizer(stop_words=stop_words)
vector1 = vect1.fit_transform(final_words1)
print("Length of BoW ::", len(vect1.get_feature_names()))

Length of BoW :: 4318

In [4]:
pd.DataFrame(vector1.toarray(), columns=vect1.get_feature_names(), index=["count"]).T.sort_values(by='count', ascending=False).head(15).T

,learning,set,patterns,training,value,function,one,functions,example,decision,values,weight,vector,pattern,chapter
count,408,262,213,212,189,187,166,163,152,147,146,136,128,119,115

In [5]:
# text 2 : Understanding Machine Learnng by Shai Shalev-Shwartz and Shai Ben-David
text2 = open('understanding machine learnng_Shai Shalev-Shwartz and Shai Ben-David.txt', encoding="utf-8").read()
lower_text2 = text2.lower()
cleaned_text2 = lower_text2.translate(str.maketrans("", "", string.punctuation))
tokenize_text2 = word_tokenize(cleaned_text2, "english")

strings2 = []
for word in tokenize_text2:
    word = "".join(re.split("[^a-zA-Z]", word))
    strings2.append(word)
print("Total Number of Words ::", len(strings2))

final_words2 = [" ".join(str(word) for word in strings2)]

Total Number of Words :: 158011

In [6]:
stop_words = stopwords.words("english")
vect2 = CountVectorizer(stop_words=stop_words)
vector2 = vect2.fit_transform(final_words2)
print("Length of BoW ::", len(vect2.get_feature_names()))

Length of BoW :: 6414

In [7]:
pd.DataFrame(vector2.toarray(), columns=vect2.get_feature_names(), index=["count"]).T.sort_values(by='count', ascending=False).head(15).T

,learning,set,let,function,class,hypothesis,algorithm,de,loss,problem,every,training,theorem,error,using
count,996,735,724,713,601,589,539,523,417,356,348,341,333,323,322

### Comparing both documents

In [8]:
vect = CountVectorizer(stop_words=stop_words)
vect.fit(final_words1)
vector = vect.transform(final_words2)
# print(vector.toarray())
pd.DataFrame(vector.toarray(), columns=vect.get_feature_names(), index=['Word Count']).T.sort_values(by='Word Count', ascending=False).head(15).T

,learning,set,let,function,class,hypothesis,algorithm,de,loss,problem,every,training,theorem,error,using
Word Count,996,735,724,713,601,589,539,523,417,356,348,341,333,323,322

In [9]:
df = pd.DataFrame(vector.toarray(), columns=vect.get_feature_names(), index=['Word Count']).T.sort_values(by='Word Count', ascending=False)
df.head(5)

          Word Count
learning         996
set              735
let              724
function         713
class            601

In [10]:
print("Total Number of Words that are common to both the documents ::", len(df[df['Word Count']>0]))

Total Number of Words that are common to both the documents :: 2256